<div class="domains-root h-100">
  <!-- heading -->
  <div class="mb-7">
    <div class="col d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column justify-content-center">
        <h2 class="heading-1">Categories</h2>

        <app-breadcrumb></app-breadcrumb>
      </div>

      <app-icon-btn
        [text]="'New'"
        [btnClasses]="'primary-btn btn'"
        [iconName]="'plus'"
        [iconClass]="'main-add-btn-icon'"
        (btnClick)="openModal('#domainModal')"></app-icon-btn>
    </div>
  </div>

  <!-- filter form -->
  <!-- <div class="card mb-5">
    <div class="card-body">
      <form [formGroup]="filterForm" (ngSubmit)="pageChanged(1)">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column justify-content-start align-items-start">
            <label class="col px-0" for="domain-filter-form-name">Name</label>

            <input class="col form-control" id="domain-filter-form-name" type="text" placeholder="Domain Name" formControlName="name" name="name" />
          </div>

          <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column justify-content-start align-items-start mt-3 mt-md-0">
            <label class="col px-0" for="domain-filter-form-domain">Domain</label>

            <input class="col form-control" id="domain-filter-form-domain" type="text" placeholder="Domain" formControlName="domain" name="domain" />
          </div>

          <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column justify-content-start align-items-start mt-3 mt-lg-0">
            <label class="col px-0">Active Status</label>

            <select class="col form-select" formControlName="is_active" name="is_active">
              <option value="" disabled>...</option>
              <option value="1">Active</option>
              <option value="0">Deactive</option>
            </select>
          </div>

          <div class="col d-flex justify-content-end justify-content-xxl-start align-items-end mt-3">
            <button class="secondary-btn me-2 btn" type="submit">Filter</button>

            <button class="btn btn-light" type="button" (click)="clearFilterForm()">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div> -->

  <!-- table -->
  <div class="d-flex flex-column">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-end align-items-center mb-3">
          <app-refresh-btn (btnClick)="refreshDomains()"></app-refresh-btn>
        </div>

        <ng-container *ngIf="!isLoading; else loadingDiv">
          <ng-container *ngIf="domains">
            <div class="default-table">
              <div class="table-responsive">
                <table class="table table-sm align-middle">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Category Name</th>
                      <!-- <th>Description</th>
                      <th>Active Status</th>
                      <th>Actions</th> -->
                    </tr>
                  </thead>

                  <tbody>
                    <ng-container *ngFor="let domain of domains">
                      <tr>
                        <td>{{ domain._id || 'Not Available' }}</td>

                        <td class="table-td-light">
                          {{ domain.name || 'Not Available' }}
                        </td>

                        <!-- <td class="table-td-light" style="max-width: 10rem">{{ domain.description || 'Not Available' }}</td>

                        <td>
                          <span class="badge bg-success" *ngIf="domain.is_active === 1">Active</span>

                          <span class="badge bg-danger" *ngIf="domain.is_active === 0">Deactive</span>
                        </td>

                        <td class="column-action">
                          <div class="table-action">
                            <div class="dropdown">
                              <button
                                class="btn btn-sm btn-light dropdown-toggle"
                                type="button"
                                id="domainTableDropdownMenu"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Actions
                              </button>
                              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="domainTableDropdownMenu">
                                <li><a class="dropdown-item" (click)="openModal('#domainModal', crudTypes.update, domain)">Edit</a></li>
                                <li><a class="dropdown-item" (click)="openModal('#domainDeleteModal', crudTypes.delete, domain)">Delete</a></li>
                              </ul>
                            </div>
                          </div>
                        </td> -->
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-template #loadingDiv>
          <app-loading-spinner [componentHeight]="'15rem'"></app-loading-spinner>
        </ng-template>

        <ng-template #noDataDiv>
          <app-no-data [componentHeight]="'15rem'"></app-no-data>
        </ng-template>

        <div class="d-flex justify-content-between align-items-center mt-3" *ngIf="domainCount > 0 && !isLoading">
          <select class="form-select" (change)="limitChange($event)" style="width: 5.5rem">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>

          <pagination-controls (pageChange)="pageChanged($event)" [responsive]="true" (pageBoundsCorrection)="pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- domain modal - for add, update -->
<div class="modal fade" id="domainModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="domainModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="domainModalLabel">{{ crudType === crudTypes.add ? 'New' : 'Edit' }} Domain</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form [formGroup]="domainForm" (ngSubmit)="addUpdateDomain()">
        <div class="modal-body">
          <!-- domain name -->
          <div class="d-flex flex-column mb-3">
            <label for="domain-form-name">
              Domain Name
              <span class="form-required-sign">*</span>
            </label>

            <div class="d-flex flex-column">
              <input
                id="domain-form-name"
                class="form-control"
                type="text"
                formControlName="name"
                name="name"
                placeholder="Domain name"
                [ngClass]="getFieldClass('name')" />

              <ul class="error-wrapper" *ngIf="!isFieldValid('name')">
                <li *ngIf="name?.errors?.['required']">Domain name is required.</li>
              </ul>
            </div>
          </div>

          <!-- domain -->
          <div class="d-flex flex-column mb-3">
            <label for="domain-form-domain">
              Domain
              <span class="form-required-sign">*</span>
            </label>

            <div class="d-flex flex-column">
              <input
                id="domain-form-domain"
                class="form-control"
                type="text"
                formControlName="domain"
                name="domain"
                placeholder="Domain"
                [ngClass]="getFieldClass('domain')" />

              <ul class="error-wrapper" *ngIf="!isFieldValid('domain')">
                <li *ngIf="domain?.errors?.['required']">Domain is required.</li>
                <!-- <li *ngIf="domain?.errors?.['pattern']">Domain is invalid.</li> -->
              </ul>
            </div>
          </div>

          <!-- description -->
          <div class="d-flex flex-column mb-4">
            <label for="domain-form-description">Description</label>

            <div class="d-flex flex-column">
              <textarea
                id="domain-form-description"
                class="form-control"
                type="text"
                name="description"
                formControlName="description"
                rows="3"
                placeholder="Give a description">
              </textarea>

              <ul class="error-wrapper" *ngIf="!isFieldValid('description')"></ul>
            </div>
          </div>

          <!-- active state -->
          <div class="d-flex flex-column mb-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="domain-form-is-active" name="is_active" formControlName="is_active" />
              <label class="form-check-label" for="domain-form-is-active">Is Active? (Yes / No)</label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>

          <app-icon-btn
            [text]="crudType === crudTypes.add ? 'Add' : 'Save'"
            [type]="'submit'"
            [btnClasses]="'primary-btn btn'"
            [iconName]="crudType === crudTypes.add ? 'plus' : 'edit'"
            [iconClass]="crudType === crudTypes.add ? 'main-add-btn-icon' : 'main-update-btn-icon'"
            [isLoading]="isRequesting"></app-icon-btn>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- domain delete confirm modal -->
<app-delete-modal
  [id]="'domainDeleteModal'"
  [type]="'domain'"
  [name]="deletingDomain?.name"
  [isLoading]="isRequesting"
  (itemDelete)="deleteDomain()"></app-delete-modal>
