<div class="domains-root h-100">
    <!-- heading -->
    <div class="mb-7">
      <div class="col d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column justify-content-center">
          <h2 class="heading-1">Orders</h2>
  
          <app-breadcrumb></app-breadcrumb>
        </div>
  

      </div>
    </div>
  

    <!-- table -->
    <div class="d-flex flex-column">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-end align-items-center mb-3">
            <!-- <app-refresh-btn (btnClick)="refreshDomains()"></app-refresh-btn> -->
          </div>
  
          <ng-container *ngIf="!isLoading; else loadingDiv">
            <ng-container *ngIf="orders">
              <div class="default-table">
                <div class="table-responsive">
                  <table class="table table-sm align-middle">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Street Address</th>
                        <th>City</th>
                        <th>Zip Code</th>
                        <th>Country</th>
                        <th>Mobile No</th>
                        <th>Email</th>
                        <th>Order Note</th>
                        <!-- <th>Description</th>
                        <th>Active Status</th>
                        <th>Actions</th> -->
                      </tr>
                    </thead>
  
                    <tbody>
                      <ng-container *ngFor="let order of orders">
                        <tr>
                          <td>{{ order._id || 'Not Available' }}</td>
  
                          <td class="table-td-light">
                            {{ order.customer_first_name || 'Not Available' }}
                          </td>
                          <td class="table-td-light">
                            {{ order.customer_last_name || 'Not Available' }}
                          </td>
  
                          <td class="table-td-light">
                            {{ order.customer_street_address || 'Not Available' }}
                          </td>

                          <td class="table-td-light">
                            {{ order.customer_city || 'Not Available' }}
                          </td>

                          <td class="table-td-light">
                            {{ order.customer_zip_code || 'Not Available' }}
                          </td>

                          <td class="table-td-light">
                            {{ order.customer_country || 'Not Available' }}
                          </td>

                          <td class="table-td-light">
                            {{ order.customer_mobile_no || 'Not Available' }}
                          </td>

                          <td class="table-td-light">
                            {{ order.customer_email || 'Not Available' }}
                          </td>

                          <td class="table-td-light">
                            {{ order.order_note || 'Not Available' }}
                          </td>
  
  
                          <!-- <td class="table-td-light" style="max-width: 10rem">{{ domain.description || 'Not Available' }}</td>
  
                          <td>
                            <span class="badge bg-success" *ngIf="domain.is_active === 1">Active</span>
  
                            <span class="badge bg-danger" *ngIf="domain.is_active === 0">Deactive</span>
                          </td>
  
                          <td class="column-action">
                            <div class="table-action">
                              <div class="dropdown">
                                <button
                                  class="btn btn-sm btn-light dropdown-toggle"
                                  type="button"
                                  id="domainTableDropdownMenu"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false">
                                  Actions
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="domainTableDropdownMenu">
                                  <li><a class="dropdown-item" (click)="openModal('#domainModal', crudTypes.update, domain)">Edit</a></li>
                                  <li><a class="dropdown-item" (click)="openModal('#domainDeleteModal', crudTypes.delete, domain)">Delete</a></li>
                                </ul>
                              </div>
                            </div>
                          </td> -->
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-container>
          </ng-container>
  
          <ng-template #loadingDiv>
            <app-loading-spinner [componentHeight]="'15rem'"></app-loading-spinner>
          </ng-template>
  
          <ng-template #noDataDiv>
            <app-no-data [componentHeight]="'15rem'"></app-no-data>
          </ng-template>
  
       
        </div>
      </div>
    </div>
  </div>
  

  

  